<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MsgPack Editor"
            extensions="msg"
            icon="icons/icon.gif"
            contributorClass="org.freenono.msgpack.editor.MsgPackEditorActionContributor"
            class="org.freenono.msgpack.editor.MsgPackEditor"
            id="org.freenono.msgpack.editor.MsgPackEditor">
      </editor>
   </extension>

</plugin>
